<link rel="stylesheet" href="/css/footer.css" />

<footer>
    <div class="footer-row">
      <div class="footer-column">
        <ul style="list-style-type: none">
          <li>Nosotros</li>
          <li>Términos y condiciones</li>
          <li>Contacto</li>
          <li>Cancelar orden</li>
        </ul>
      </div>
      <div class="footer-column">
        <ul style="list-style-type: none">
          <li>Contáctenos</li>
          <li>Tel:11-2345-1234</li>
          <li>Whatsapp: 11-2345-1244</li>
          <li>soporte@drmusic.com</li>
        </ul>
      </div>
      <div class="footer-column">
        <ul style="list-style-type: none">
          <li>Horario de Atención:</li>
          <li>De 9:00 a 18:00</li>
          <li>Términos y Condiciones</li>
          <li>Guía de Uso</li>
        </ul>
      </div>
      <ul class="lista-social">
        <li>
          <a href="#" class="fab fa-facebook"></a>
        </li>
        <li>
          <a href="#" class="fab fa-twitter"></a>
        </li>
        <li>
          <a href="#" class="fab fa-instagram"></a>
        </li>
        <li>
          <a href="#" class="fab fa-youtube"></a>
        </li>
      </ul>
      <div class="copyR">
      <h6>© 2016-2021</h6>
      <h6>
        Las fotos son a modo ilustrativo. La venta de cualquiera de los
        productos publicados está sujeta a la verificación de stock. Los
        precios online y los planes de financiación para los productos
        presentados/publicados son válidos exclusivamente para la compra vía
        internet en las páginas antes mencionadas.Las especificaciones
        técnicas y descripciones están sujetas a cambios sin previo aviso.
      </h6>
      </div>
    </div>
  </footer>