<link rel="stylesheet" href="/css/header.css" />

<header class="main-header">
  <div class="main-header-top-bar">
    <a href="/">
      <img class="logo" src="/img/Dr-DF1304.png" alt="Dr Music"
    /></a>
    <h2 class="copy-header">
      <i class="fas fa-compact-disc"></i> Nos apasiona la música!
    </h2>
  </div>
  <div class="hamburguer-button">
    <i class="fas fa-bars"></i>
  </div>

  <nav class="main-navbar">
    <ul class="left-navbar">
      <li><a href="#">Guitarras/Bajos</a></li>
      <li><a href="#">Baterias</a></li>
      <li><a href="#">Teclados</a></li>
      <li><a href="/products/create">Crear Producto</a></li>
    </ul>

    <ul class="right-navbar">
      <% if (locals.isLogged) { %>
      <a href="/users/profile"
        ><li>¡Hola <%= locals.userLogged.firstName %>!</li></a
      >
      <br />
      <li>
        <a href="/users/logout">Salir <i class="logout"></i></a>
      </li>
      <br />
      <% } else { %>
      <li>
        <!-- <a href="http://localhost:3000/register" -->
        <a href="/users/register"
          >Creá tu cuenta <i class="fas fa-credit-card"></i
        ></a>
      </li>
      <li>
        <!-- <a href="http://localhost:3000/login" -->
        <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
      </li>
      <li>
        <% } %>
        <!-- <a href="http://localhost:3000/carrito" -->
        <a href="/carrito/mostrar"
          >Mi Carrito <i class="fas fa-shopping-basket"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>
