<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/product_admin.css">  
    <title>Administración de Productos</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <script src="/js/productAddValidation.js"></script>
  </head>
 <body>
    <div class="grid-container">
    <div class="rows-3">
      <!--INICIO DEL HEADER-->
      <%- include('./partials/header') %>
      <!--FIN DEL HEADER-->
    </div>
      <div class="column-3"><div class="errores">
        <ul></ul>
      </div>
      <div> <h1>Errores</h1>

        <% if (locals.errors) {
           errors.forEach(error => { %>        
          <p class="feedback"><%= error.msg %></p>
        <% }) 
           } 
        %>
      </div>    
      <!-- </div> este div rompía la coherencia de las columnas -->
      <div class="recuadro">4</div>
      <div class="recuadro">5</div>
      <div class="recuadro">6</div>  
      <div class="rows-3">
        <!--INICIO DEL FOOTER-->
        <%- include('./partials/footer') %>
        <!--FIN DEL FOOTER-->
      </div>
    </div> 
  </body> 
  </html>