* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  color: #f2ede4;
  font-size: 14px;
}
.footer-column {
  display: flex;
  float: left;
  width: 100%;
  margin: 10px 0 10px 0;
  justify-content: center;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 10px;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}
.lista-social {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 20px;
  padding-top: 10px;
  flex-wrap: wrap;
  list-style-position: inside;
  width: 100%;
}
.fa-facebook {
  background-color: #bf1304;
  border-radius: 5px;
  color: #f2ede4;
  padding: 20%;
  text-decoration: none;
}
.fa-twitter {
  background-color: #bf1304;
  border-radius: 5px;
  color: #f2ede4;
  padding: 20%;
  text-decoration: none;
}
.fa-instagram {
  background-color: #bf1304;
  border-radius: 5px;
  color: #f2ede4;
  padding: 20%;
  text-decoration: none;
}
.fa-youtube {
  background-color: #bf1304;
  border-radius: 5px;
  color: #f2ede4;
  padding: 20%;
  text-decoration: none;
}
.lista-social li {
  color: #f2ede4;
  width: 5%;
}
.social-icon {
  color: #f2ede4;
}
.copyR {
  margin-top: 10px;
}
h6 {
  margin-top: 10px;
}
/* Responsive */
/*Laptop*/
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
  }

  .left-column {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
  }
  .product-img-row {
    width: 60%;
    justify-content: space-around;
  }

  .right-column {
    padding-top: 50px;
    width: 50%;
  }
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    font-size: 18px;
  }

  .footer-column {
    display: flex;
    float: left;
    width: 20%;
    margin: 15px;
  }
  .lista-social {
    width: 30%;
    align-items: flex-end;
  }
}
/*fin footer*/
