* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/*
.main-header-top-bar {
    width: 65%;
  }*/
.main-header {
  background-color: #df1304;
  padding: 7px;
}

.logo {
  display: block;
  width: 110px;
  height: 100px;
  margin: auto;
  text-align: center;
}

.copy-header {
  font-weight: 400;
  text-align: center;
  align-items: center;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar {
  display: none;
}

.main-navbar a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(12, 12, 12);
  display: inline-block;
  padding: 5px 0;
  font-size: 1rem;
}

.hamburguer-button {
  background-color: #03264c;
  display: block;
  color: white;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}
.copy-header {
  max-width: 350px;
  text-align: right;
}

.hamburguer-button.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburguer-button.isactive .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburguer-button.isactive .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
.main-navbar.active {
  display: block;
  animation: fade 0.5s;
}

/* .hamburguer-button {
    display: none;
  }  */

.main-navbar ul {
  display: flex;
  align-items: center;
}

.main-navbar li {
  margin: 0 10px;
  border-radius: 5px;
  padding: 3px;
  transition: 500ms background-color;
}
.main-navbar li a {
  transition: 500ms color;
  transition: 500ms font-weight;
}

.main-navbar li:hover {
  background-color: #f2ede4;
}
.main-navbar li a:hover {
  color: #0d0d0d;
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-navbar {
    /* border: dotted 2px yellow; */
    display: flex;
    /* margin-top: 100px; */
    justify-content: space-between;
  }

  .hamburguer-button {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    /* border: white solid 5px; */
    margin: auto;
  }

  .main-header-top-bar {
    align-items: center;
  }

  .copy-header {
    max-width: none;
  }

  .main-navbar li {
    margin: 0 10px;
  }
  .main-navbar a {
    font-size: 19px;
  }
}
